---
---
<footer class="mt-12 py-8 border-t border-neutral-200 text-center text-sm text-neutral-500">
  <p>
    Donn&eacute;es :
    <a href="https://data.ofgl.fr" class="underline hover:text-blue-600" target="_blank" rel="noopener">OFGL</a> &middot;
    <a href="https://www.data.gouv.fr/datasets/repertoire-national-des-elus-1" class="underline hover:text-blue-600" target="_blank" rel="noopener">RNE</a> &middot;
    <a href="https://www.data.gouv.fr/pages/donnees-des-elections" class="underline hover:text-blue-600" target="_blank" rel="noopener">Minist&egrave;re de l'int&eacute;rieur</a>
  </p>
  <p class="mt-2">
    <a href="https://github.com/archibuttle/commune-ouverte" class="underline hover:text-blue-600" target="_blank" rel="noopener">Code source</a>
    &middot; Projet citoyen, donn&eacute;es ouvertes
  </p>
</footer>
